body {
  margin: 0 auto;
  display: grid;
  width: 100%;
  min-height: 100vh;
  grid-template:
    ".... header header header header header ...." 110px
    ".... ....   ....   ....   ....   .... ...." 2px
    ".... navi   navi   navi   navi   navi ...." 60px
    ".... ....   ....   ....   ....   .... ...." 4px
    ".... photo  photo  photo  ....  right ...." 250px
    ".... ....   ....   ....   ....  right ...." 20px
    ".... left   ....   center ..... right ...." auto
    ".... ....  ....   .....   .....  ..... ...." 20px
    "footer footer footer footer footer footer footer" 200px
    / auto 200px 15px minmax(300px, 775px) 10px 200px auto;
}

img {
  pointer-events: none;
}
/* ヘッダー---------------------------------------- */
header {
  /* background-color: aqua; */
  grid-area: header;
}

header #logo {
  width: 450px;
  margin-top: 0px;
}

header .logo {
  display: block;
  width: 450px;
}

/* ナビゲーションバー ----------------------------------------------------*/
#menu {
  position: relative;
  grid-area: navi;
}

#menu ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-left: 0px;
  margin: 0 auto;
}
#menu li {
  flex: 1;
}

#menu li a {
  text-decoration: none;
  text-align: center;
  height: 40px;
  padding-top: 20px; /* heightとpaddingtopの合計をnaviのheightに合わせる */
  color: #0c56ac;
  display: block;
  border-left: 1px solid #470fdf66;
  border-right: 0.1px solid #b7e6f5;
  background-color: #6fc2f1;
}

#menu li:first-child a {
  border-left: none;
  border-right: 1px solid #b7e6f5;
  border-radius: 7px 0px 0px 7px;
}
#menu li:last-child a {
  border-radius: 0px 7px 7px 0px;
}

#menu li a:hover {
  transition: 0.3s;
  color: #f3d0e6;
  background-color: #538fc0;
}

/* 写真-------------------------------------------------- */
.photo {
  background-image: url("./img/photo1.jpg");
  background-size: cover;
  grid-area: photo;
}

/* メインコンテンツ -----------------------------------------*/
main {
  /* background-color: #a8c262dc; */
  grid-area: center;
}

.midashi {
  font-size: large;
  margin: 0 auto;
  padding: 10px 0px 5px 20px;
  background: linear-gradient(#a7dff5 20%, #32bff7);
  border: solid #3873e9;
  border-width: 1px 1px 0px 1px;
  border-radius: 10px 10px 0px 0px;
}
.inner {
  background-color: #f4f7f7;
  padding: 20px;
  border: solid #d4d4d4;
  border-width: 0px 1px 1px 1px;
}
.subtitle {
  font-size: medium;
  border-bottom: solid 5px #79afec;
}
.textbox {
  margin: 10px 10px 30px 10px;
}

/* 左サイドメニュー -------------------------------------------*/
aside.left {
  /* background-color: cyan; */
  grid-area: left;
}
.submenubox {
  padding: 3px;
  background-color: #a7dff5;
  outline: solid 1px #6fc2f1;
  margin-bottom: 30px;
}

.submidashi {
  font-size: medium;
  margin: 0 auto;
  padding: 5px 0px;
  color: #18397a;
  background-color: #d2e6ee;
  text-align: center;
  border-bottom: solid 1px #6fc2f1;
}

.submenu {
  margin: 0 auto;
  padding-left: 0px;
  list-style: none;
}

.submenu li a {
  color: #3873e9;
  padding-left: 1em;
  border-bottom: solid 2px #6fc2f1;
  line-height: 50px;
  display: block;
  background-color: #f4f7f7;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: #e9e9e9;
}

/* 右リンク ---------------------------------------------------*/
aside.right {
  /* background-color: darkkhaki; */
  grid-area: right;
}

.linkbox {
  height: 230px;
  padding: 3px;
  background-color: #f6ffff;
  outline: solid 1px #d1eaf8;
  margin-bottom: 30px;
}

.linkbox p {
  margin: 0 auto;
  padding: 5px;
  line-height: 1.5em;
}

.linkbox a {
  display: block;
  text-decoration: none;
}

.linkmidashi {
  font-size: 14px;
  margin: 0 auto;
  padding: 5px 0px;
  color: #041a46;
  background: linear-gradient(#ffffff, #b9b9b9);
  text-align: center;
  border-bottom: solid 1px #6fc2f1;
}

/* フッター ---------------------------------------------------*/
footer {
  background-color: #353535;
  grid-area: footer;
}

.footermenu {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.footermenu ul,
li a {
  line-height: 2em;
  color: #d6d6d6;
  text-decoration: none;
  list-style: none;
  padding-left: 0px;
}

.copyright {
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  background-color: #222222;
  color: #d4d4d4;
}

/* その他------------------------------------------ */
.fr {
  float: right;
  margin-left: 2%;
  margin-bottom: 20px;
}
.fl {
  float: left;
  margin-right: 2%;
  margin-bottom: 20px;
}
.w50p {
  width: 50%;
}
.w100p {
  width: 100%;
}

/* スマホ */
@media screen and (max-width: 700px) {
  body {
    grid-template:
      "header"
      "navi"
      "photo"
      "center"
      "left"
      "right"
      "footer"
      /auto;
  }

  .linkbox {
    margin: 0 auto;
    width: 400px;
    height: 350px;
    padding: 3px;
    background-color: #f6ffff;
    outline: solid 1px #d1eaf8;
    margin-bottom: 30px;
  }

  .linkbox p {
    margin: 0 auto;
    padding: 5px;
    line-height: 1.5em;
  }

  .linkbox a {
    display: block;
    text-decoration: none;
  }

  .linkmidashi {
    font-size: 14px;
    margin: 0 auto;
    padding: 5px 0px;
    color: #041a46;
    background: linear-gradient(#ffffff, #b9b9b9);
    text-align: center;
    border-bottom: solid 1px #6fc2f1;
  }
}
